[Unit]
Description=My First Systemd Service

[Service]
ExecStart=/bin/bash -c 'sleep infinity'

[Install]
WantedBy=default.target[Unit]

[Service]

[Install]
