[Unit]
Description=Service for My Timer (prints date)

[Service]
Type=oneshot
ExecStart=/bin/bash -c '/usr/bin/echo "My Timer Service ran at $(date)"

[Service]
